a {
    text-decoration: none;
    color:#16d2d5;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;

  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
.welcome{
  color:#16d2d5;
  margin-bottom: 50px;
  margin-top: 50px;
}
  .toolbar {
    top: 30;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color:#e5f6f6;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }


  