<mat-card class="memberCard">
   <table>
      <tr>
          <td  class="img"><img mat-card-image src="./assets/avatars/{{member.avatar}}" alt="Photo de member"></td>
          <td  class="nom"><h2>{{member.firstname}} {{member.lastname}}</h2> <h3>{{member.function}}</h3>
          </td>
      </tr>
</table>
<mat-card class="description">
   <div>
   <h2>Description :</h2>
   <h3 class="descr"> {{member.description}}</h3>
   </div>
</mat-card>
</mat-card>