.memberCard{
    margin-left: 15%;
    margin-top: 2%;
    width: 66%;
    height: 70%;

}
.img{
    width: 15%;
    height:15%;
    padding-top: 3%;
    padding-left: 3%;

}
.nom{
    text-align: center;
 
}
a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;

  }
  a:hover,
  a:active {
    color: #16d2d5;
  }
  .description{

    margin-left: 15%;
    margin-top: 2%;
    width: 80%;
    height: 40%;
    background-color:#e5f6f6;
  }
  .descr{
    text-justify: auto;

  }