.creation-card {
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    
    background-color:#e5f6f6 ;
}

form {
    min-width: 150px;
    max-width: 500px;
    margin-top: 5%;
    margin-left: 20%;
    width: 100%;
}

.full-width {
    width: 100%;
}
.titre {
    padding-top:2%;
    text-align: center;
    
}


.Button{
    margin: auto;
    left: 40%;
    background-color:#16d2d5;
    color:white;

}