<mat-card class="creation-card">
    <mat-card-title class="titre">Creér un nouveau membre</mat-card-title>
    <form formGroup="MemberForm"  (ngSubmit)="submitMember()"class="form">

        <mat-form-field class="full-width">
            <input matInput dividerColor="primary" formControlName="firstname" placeholder="firstname">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput formControlName="lastname" placeholder="lastname">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput formControlName="avatar" placeholder="avatar">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput formControlName="function" placeholder="function">
        </mat-form-field>

        <mat-form-field class="full-width" >
            <textarea matInput formControlName="description" placeholder="description"></textarea>
          </mat-form-field>
       
        <button mat-raised-button  class="Button">
            Ajouter
        </button>
    </form>
    
</mat-card>
