a {
    text-decoration: none;
    color:#16d2d5;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
  }

 
.welcome{
  color:#16d2d5;
  margin-top: 15%;
  text-align: center;
}

  