.memberCard{
    margin-left: 20%;
    margin-top: 2%;
    width: 60%;
    height: 18%;

}
.img{
    width: 10%;
    height:10%;
    padding-top: 2%;
    padding-left: 2%;

}
.nom{
    text-align: center;
 
}
a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;

  }
  a:hover,
  a:active {
    color: #16d2d5;
  }