<mat-card class="memberCard">
    <table>
            <tr>
                <td  class="img"><img mat-card-image src="./assets/avatars/{{member.avatar}}" alt="Photo de member"></td>
                <td  class="nom"><h2><a [routerLink]="['/member', member.id]">{{member.firstname}} {{member.lastname}}</a></h2>
                </td>
            </tr>
    </table>
</mat-card>